<div *ngIf="todo" class="flex items-center gap-1.5 m-1">
  <input type="checkbox" (click)="toggleTodo(todo.id)" [checked]="todo.done">

  <div *ngIf="!editMode; else edit" class="w-20 overflow-hidden"><strong>{{ todo.title }}</strong></div>
  <ng-template #edit>
    <input type="text" [value]="todo.title" #inputEdit (change)="updateTodo(todo.id, inputEdit.value)">
  </ng-template>

  <div *ngIf="todo.done" class="text-success w-20">DONE!</div>
  <div *ngIf="!todo.done" class="text-danger w-20">DO THIS!</div>
  <button class="bg-blue-500 rounded w-16 text-white" (click)="editMode = !editMode">Edit</button>
  <button class="bg-red-500 rounded w-16 text-white" (click)="removeTodo(todo.id)">Delete</button>
</div>
