<form [formGroup]="filterForm" *ngIf="!loading">
  <mat-button-toggle-group formControlName="filter" aria-label="Font Style">
    <mat-button-toggle value="all">All</mat-button-toggle>
    <mat-button-toggle value="done">Done</mat-button-toggle>
    <mat-button-toggle value="notDone">Not done</mat-button-toggle>
  </mat-button-toggle-group>
</form>

<div *ngIf="todosService.todos$ | async as todos">
  <div *ngFor="let todo of todos">
    <app-todo-item [todo]="todo"></app-todo-item>
  </div>
</div>
<button class="bg-yellow-300">Reload</button>


